@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

.normal_font{
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 14px;
}

.pane_selected{
    -fx-background-color:  EFEDED;
    -fx-background-radius: 10 0 0 10;
}

.search-text-field {
    -fx-background-color: EFEDED;
    -fx-background-radius: 20;
    -fx-text-fill: black;
    -fx-border-color:  D3D3D3;
    -fx-border-width: 1px;
    -fx-prompt-text-fill: D3D3D3;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-border-radius: 20;
}

.form-text-field{
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-font-family: 'Roboto Light';
    -fx-font-size: 12;
    -fx-background-color: white;
}


.form-text{
    -fx-font-family: Roboto;
    -fx-font-size: 11;
}

.button-font-{
    -fx-font-family: "Roboto Bk";
    -fx-font-size: 14;

}

.login-field{
    -fx-background-color: transparent;
    -fx-border-color: #4D4E6D;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-font-family: "System";
    -fx-font-size: 13;
}

.field-error{
    -fx-border-color: #CB2E2D;
    -fx-prompt-text-fill: #CB2E2D;
}